h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: white;
}
body{
    background-color: black;
}

p{
    font-style: italic;
    font-size: 30px;
    color: red;
}

#two{
    font-style: bold;
    color: aqua;
    text-align: center;
}

#three{
    font-family: 'Pacifico', cursive;
    text-align: justify;
}